version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: sgp_postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: sgpuser
      POSTGRES_PASSWORD: sgppass123
      POSTGRES_DB: sgp_db
      POSTGRES_HOST_AUTH_METHOD: trust
    command: ["postgres", "-c", "listen_addresses=*"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: sgp_redis
    ports:
      - '6379:6379'

  minio:
    image: minio/minio
    container_name: sgp_minio
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
